
.table, th, td {
    border: 1px solid black;
}

body{
    background-color: rgb(150, 243, 240);
    padding: 15px 15px;
}

.Aboutme{
    display:block;
    margin:3px;
    border:3px solid rgb(87, 53, 225);
    padding:3px;


}

.me{
    color: rgb(118, 30, 30);
}

.Myfamily{
    position:relative;
    bottom:3px;
    right:10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


.me{
    position: static;
    border:5px;
    left: 20px;
    top: 10px;
}

.Hobby{
    display: flex;
    gap: 30px;
}
    
.Workingexperience{
    position:relative;
    top:5px;
    left:5px;
    font-family:Arial, Helvetica, sans-serif;

}

.Myfavouritesong{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:5px;
    padding:5px;
}
